* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
a {
  cursor: pointer;
}
ul {
  list-style: none;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  height: 50px;
  background-color: #fdfcf6;
  width: 100%;
  min-width: 900px;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
}
.icon-setting {
  font-size: 40px;
  position: fixed;
  top: 60px;
  right: 50px;
  color: white;
}
.tools {
  background-color: #fdfcf6;
  /* padding: 10px 20px; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 900px;
  justify-content: space-between;
}
.title {
  text-align: right;
}
.title > a {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #666;
  font-size: 24px;
}
li.container {
  display: flex;
  align-items: center;
}
.container .left {
  padding-right: 20px;
  color: #666;
  font-size: 14px;
}
.right {
  display: flex;
  align-items: center;
}
.right > a {
  border-radius: 50%;
  font-size: 30px;
  color: #f77979;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 5px;
  line-height: 30px;
}
.set-font {
  display: inline-block;
  width: 150px;
  height: 34px;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.set-font > b {
  width: 1px;
  background-color: #e5e5e5;
  height: 20px;
}
.prev,
.next {
  font-weight: bold;
}
.lang {
  color: #666;
}
.text-content {
  background-color: white;
  width: 900px;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}
.text-content label {
  display: flex;
  justify-content: end;
}
.icon-close {
  font-size: 30px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
